<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />

    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    {{ content }}

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
