<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% capture resource_title %}{{ title | strip_html | strip_newlines }}{% endcapture %}
<title>{% if resource_title != "Index" %}{{ resource_title | escape }} | {{ metadata.title | escape }}{% else %}{{ metadata.title | escape }}: {{ metadata.tagline | escape }}{% endif %}</title>

{% feed_meta %}

<meta name="description" content="{{ metadata.description }}" />

  {% if environment == "production" %}
    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0859ae00aa7a48cc8ab4511a6c81214d"}'></script><!-- End Cloudflare Web Analytics -->
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="{% asset_path css %}" />

  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>

  <!-- <script src="{% webpack_path js %}" defer></script> -->


  {% if metadata.enable_hotwire == true %}
    <script type="module">
      import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
    </script>

    {% comment %} <script> {% endcomment %}
    {% comment %}   document.addEventListener("turbo:load", function() { {% endcomment %}
    {% comment %}           Prism.highlightAll(); {% endcomment %}
    {% comment %}         }) {% endcomment %}
    {% comment %} </script> {% endcomment %}
  {% else %}
   {% comment %} <script> {% endcomment %}
    {% comment %}   window.addEventListener("load", function() { {% endcomment %}
    {% comment %}           Prism.highlightAll(); {% endcomment %}
    {% comment %}         }) {% endcomment %}
    {% comment %} </script> {% endcomment %}
  {% endif %}
